<link href="~/Content/Views/Home/Agreements.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Agreements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<AgreementT>

@using (Html.BeginForm("Agreements", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Agreements</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                        <th class="th-bf-company">BF Company</th>
                        <th class="th-counterpart">Name of the counterpart</th>
                        <th class="th-applicability">Applicability</th>
                        <th class="th-object-of-agreement">Object of Agreement</th>
                        <th class="th-type">Type</th>
                        <th class="th-date-of-signature">Date of Signature</th>
                        <th class="th-created-by">Created by</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var agreement in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("AgreementTView", new { ID = agreement.ID })" target="_blank">@agreement.Name</a></td>
                                <td>@agreement.BFCompany.CompanyName</td>
                                <td>@agreement.Counterpart.CompanyName</td>
                                <td>@agreement.Applicability</td>
                                <td>@agreement.ObjectOfAgreement</td>
                                <td>@agreement.Type</td>
                                <td>@agreement.DateOfSignature</td>
                                <td>@agreement.OwnerName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Agreements.js"></script>
}