<link href="~/Content/Views/Home/Agreement.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Agreement - " + Model.Record.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<AgreementT>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Agreement <strong>@Model.Record.Name</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Agreement Name</strong></td>
                            <td>@Model.Record.Name</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>Name of the BF Company</strong></td>
                            <td>@(Model.Record.BFCompany?.DisplayName)</td>
                            <td><strong>Comments</strong></td>
                            <td>@Model.Record.Comments</td>
                        </tr>
                        <tr>
                            <td><strong>Name of the counterpart</strong></td>
                            <td>@(Model.Record.Counterpart?.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Object of Agreement</strong></td>
                            <td>@Model.Record.ObjectOfAgreement</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Trademark</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Other Related Trademarks</strong></td>
                            <td>@Model.Record.OtherRelatedTrademarks</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Type of Agreement</strong></td>
                            <td>@Model.Record.Type</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Applicability</strong></td>
                            <td>@Model.Record.Applicability</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Date of Signature</strong></td>
                            <td>@Model.Record.DateOfSignature</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>