<link href="~/Content/Views/Home/Brand.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Brand - " + Model.Record.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Brand>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Brand <strong>@Model.Record.Name</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Name</strong></li>
                            <li class="list-group-item"><strong>Purpose</strong></li>
                            <li class="list-group-item"><strong>Value</strong></li>
                            <li class="list-group-item"><strong>Category</strong></li>
                            <li class="list-group-item"><strong>HVT (High Value Target)</strong></li>
                            <li class="list-group-item"><strong>EMV</strong></li>
                            <li class="list-group-item"><strong>Character Count</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.Name</li>
                            <li class="list-group-item">@Model.Record.Purpose</li>
                            <li class="list-group-item">@Model.Record.Value</li>
                            <li class="list-group-item">@Model.Record.Category</li>
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.HVTChk ? "checked" : string.Empty) /></li>
                            <li class="list-group-item">@Model.Record.EMV</li>
                            <li class="list-group-item">@Model.Record.CharacterCount</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Deletion Request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Deletion Request</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Deletion Request</strong></li>
                            <li class="list-group-item"><strong>Deletion Request Reason</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.DeletionRequestChk ? "checked" : string.Empty) /></li>
                            <li class="list-group-item">@Model.Record.DeletionRequestReason</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Deletion Request -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
