<link href="~/Content/Views/Home/Brand.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Application.Web.Models.Utilities

@{
    ViewBag.Title = "Brand - " + Model.Record.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Brand>

@using (Html.BeginForm("Brand", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Record.ID)
    @Html.HiddenFor(m => m.Record.Categories)

    @Html.Partial("../Shared/_PageEditViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                You are @(Model.PageMode == EnumUtils.ViewModels.PageMode.View || Model.PageMode == EnumUtils.ViewModels.PageMode.PersistSuccess ? "viewing" : "editing" ) Brand: <strong>@Model.Record.Name</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-@(Model.PageMode == EnumUtils.ViewModels.PageMode.View || Model.PageMode == EnumUtils.ViewModels.PageMode.PersistSuccess ? "eye" : "edit" )"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <fieldset @(Model.PageMode == EnumUtils.ViewModels.PageMode.View || Model.PageMode == EnumUtils.ViewModels.PageMode.PersistSuccess ? "disabled" : string.Empty)>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Record.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Record.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Purpose</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.Record.Purpose, new SelectList(Brand.PickListPurpose()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Value</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.Record.Value, new SelectList(Brand.PickListValue()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-3">
                                @Html.ListBoxFor(m => m.Record.CategoriesAvailable, new SelectList(Brand.PickListCategory(Model.Record.Categories)), new { @class = "form-control pick-list-box" })
                            </div>
                            <div class="col-sm-1">
                                <button type="button" name="btn-add-categories" class="btn btn-default pick-list-box-btn"><i class="fa fa-chevron-right"></i></button>
                                <button type="button" name="btn-remove-categories" class="btn btn-default pick-list-box-btn"><i class="fa fa-chevron-left"></i></button>
                            </div>
                            <div class="col-sm-3">
                                @Html.ListBoxFor(m => m.Record.CategoriesSelected, new SelectList(Model.Record.Categories ?? new string[] { }), new { @class = "form-control pick-list-box" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">HVT (High Value Target)</label>
                            <div class="col-sm-10">
                                @Html.CheckBoxFor(m => m.Record.HVTChk)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">EMV</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Record.EMV, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>                
            </div>
            <!-- END: Information -->

            <!-- START: Deletion Request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Deletion Request</h4>
                </div>
                <div class="panel-body">
                    <fieldset @(Model.PageMode == EnumUtils.ViewModels.PageMode.View || Model.PageMode == EnumUtils.ViewModels.PageMode.PersistSuccess ? "disabled" : string.Empty)>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Deletion Request</label>
                            <div class="col-sm-10">
                                @Html.CheckBoxFor(m => m.Record.DeletionRequestChk)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Deletion Request Reason</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Record.DeletionRequestReason, new { @class = "form-control", @rows = 3 })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Deletion Request -->
        </div>        

        <div class="panel-footer">
            @Html.Partial("../Shared/_PageEditViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Shared/_Validator.js"></script>
    <script src="~/Scripts/Views/Home/Brand.js"></script>
}
