<link href="~/Content/Views/Home/Brand.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Brand - " + Model.Record.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Brand>

@using (Html.BeginForm("FileAttachmentUpload", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Brand <strong>@Model.Record.Name</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>@Model.Record.Name</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Purpose</strong></td>
                            <td>@Model.Record.Purpose</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Value</strong></td>
                            <td>@Model.Record.Value</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Category</strong></td>
                            <td>@Model.Record.Category</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>HVT (High Value Target)</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.HVTChk ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>EMV</strong></td>
                            <td>@Model.Record.EMV</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Character Count</strong></td>
                            <td>@Model.Record.CharacterCount</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Deletion Request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Deletion Request</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Deletion Request</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.DeletionRequestChk ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request Reason</strong></td>
                            <td>@Model.Record.DeletionRequestReason</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Deletion Request -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewFileAttachment")
            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
}