<link href="~/Content/Views/Home/Brand.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Brand - " + Model.Record.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Brand>

@using (Html.BeginForm("FileAttachmentUpload", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Brand <strong>@Model.Record.Name</strong>
            </span>
            <span class="panel-title pull-right">
                <span>Reference ID: <strong>@Model.Record.ID</strong></span>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>@Model.Record.Name</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Purpose</strong></td>
                            <td>@Model.Record.Purpose</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Value</strong></td>
                            <td>@Model.Record.Value</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Category</strong></td>
                            <td>@Model.Record.Category</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>HVT (High Value Target)</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.HVTChk ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>EMV</strong></td>
                            <td>@Model.Record.EMV</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Character Count</strong></td>
                            <td>@Model.Record.CharacterCount</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Deletion Request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Deletion Request</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Deletion Request</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.DeletionRequestChk ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request Reason</strong></td>
                            <td>@Model.Record.DeletionRequestReason</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Deletion Request -->
            <!-- START: Related Trademarks -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Related Trademarks</h4>
                </div>
                <div class="panel-body">
                    @{
                        if (Model.Record.RelatedTrademarks.Count > 0)
                        {
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="th-name">Name</th>
                                            <th class="th-trademark-number">Trademark Number</th>
                                            <th class="th-international-registration-number">International Registration No.</th>
                                            <th class="th-filing-date-value">Filing Date Value</th>
                                            <th class="th-publication-date">Publication Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var trademark in Model.Record.RelatedTrademarks)
                                            {
                                                <tr>
                                                    <td><a href="@Url.RouteUrl("TrademarkView", new { ID = trademark.ID })" target="_blank">@trademark.Name</a></td>
                                                    <td>@trademark.TrademarkNumber</td>
                                                    <td>@trademark.InternationalRegistrationNumber</td>
                                                    <td>@trademark.FilingDateValue</td>
                                                    <td>@trademark.PublicationDate</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-12 center-align">
                                    <p class="subtitle">No related trademark found</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- END: Related Trademarks -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewFileAttachment")
            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
}