<link href="~/Content/Views/Home/Brands.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Brand>

@using (Html.BeginForm("Brands", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover" name="Brands.Table">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                        <th class="th-pupose">Purpose</th>
                        <th class="th-vaue">Value</th>
                        <th class="th-categories">Categories</th>
                        <th class="th-hvt">HVT (High Value Target)</th>
                        <th class="th-emv">EMV</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var brand in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.Action("Brand", "Home", new { ID = brand.ID })" target="_blank">@brand.Name</a></td>
                                <td>@brand.Purpose</td>
                                <td>@brand.Value</td>
                                <td>@brand.Category</td>
                                <td><input type="checkbox" @(brand.HVTChk ? "checked" : string.Empty) disabled /></td>
                                <td>@brand.EMV</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Brands.js"></script>
}