<link href="~/Content/Views/Home/Cancellation.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Cancellation - " + Model.Record.ReferenceInternal;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Cancellation>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Cancellation <strong>@Model.Record.ReferenceInternal</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Cancellation Reference Internal</strong></td>
                            <td>@Model.Record.ReferenceInternal</td>
                            <td><strong>Cancellation Reference External</strong></td>
                            <td>@Model.Record.ReferenceExternal</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Sent Origin</strong></td>
                            <td>@Model.Record.SentOrigin</td>
                            <td><strong>Internal Case Number</strong></td>
                            <td>@Model.Record.InternalCaseNumber</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Receipt Date</strong></td>
                            <td>@Model.Record.ReceiptDate</td>
                            <td><strong>Cancellation Submission Method</strong></td>
                            <td>@Model.Record.SubmissionMethod</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Payment Date</strong></td>
                            <td>@Model.Record.PaymentDate</td>
                            <td><strong>Cancellation Applicant</strong></td>
                            <td>@(Model.Record.Applicant?.DisplayName)</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Filing Cost</strong></td>
                            <td>@Model.Record.FilingCost</td>
                            <td><strong>Cancellation Payment Reference</strong></td>
                            <td>@Model.Record.PaymentReference</td>
                        </tr>
                        <tr>
                            <td><strong>Trademark</strong></td>
                            <td>@(Model.Record.Trademark?.Name)</td>
                            <td><strong>Cancellation Research Performance</strong></td>
                            <td>@Model.Record.ResearchPerformance</td>
                        </tr>
                        <tr>
                            <td><strong>Trademark Office</strong></td>
                            <td>@(Model.Record.Trademark?.Office?.OfficeName)</td>
                            <td><strong>Comments</strong></td>
                            <td>@Model.Record.Comments</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Status</strong></td>
                            <td>@Model.Record.Status</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Relevant Dates -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Relevant Dates</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Cancellation Admissible Date</strong></td>
                            <td>@Model.Record.AdmissibleDate</td>
                            <td><strong>Cancellation Owner Response Deadline Ext</strong></td>
                            <td>@Model.Record.OwnerResponseDeadlineExt</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Owner Response Deadline</strong></td>
                            <td>@Model.Record.OwnerResponseDeadline</td>
                            <td><strong>Cancellation Observation Deadline Ext</strong></td>
                            <td>@Model.Record.ObservationDeadlineExt</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Observation Deadline</strong></td>
                            <td>@Model.Record.ObservationDeadline</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Relevant Dates -->
            <!-- START: Acquisition -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Acquisition</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Acquisition Letter Sent Origin</strong></td>
                            <td>@Model.Record.AcquisitionLetterSentOrigin</td>
                            <td><strong>Trademark Assignment Date</strong></td>
                            <td>@Model.Record.TrademarkAssignmentDate</td>
                        </tr>
                        <tr>
                            <td><strong>Acquisition Letter Sent Method</strong></td>
                            <td>@Model.Record.AcquisitionLetterSentMethod</td>
                            <td><strong>Trademark Acquisition Cost</strong></td>
                            <td>@Model.Record.TrademarkAcquisitionCost</td>
                        </tr>
                        <tr>
                            <td><strong>Acquisition Letter Date Sent</strong></td>
                            <td>@Model.Record.AcquisitionLetterDateSent</td>
                            <td><strong>UDRP Strategy</strong></td>
                            <td>@Model.Record.UDRPStrategy</td>
                        </tr>
                        <tr>
                            <td><strong>Owner Response Acquisition Letter</strong></td>
                            <td>@Model.Record.OwnerResponseAcquisitionLetter</td>
                            <td><strong>UDRP Strategy Comment</strong></td>
                            <td>@Model.Record.UDRPStrategyComment</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Domain Enquiry</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.DomainEnquiry ? "checked" : string.Empty) /></td>
                            <td><strong>Cancellation Negotiation Comments</strong></td>
                            <td>@Model.Record.NegotiationComments</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Domain Enquiry Notes</strong></td>
                            <td>@Model.Record.DomainEnquiryNotes</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Acquisition -->
            <!-- START: Outcome -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Outcome</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Cancellation Outcome</strong></td>
                            <td>@Model.Record.Outcome</td>
                            <td><strong>Cancellation Withdrawal Date</strong></td>
                            <td>@Model.Record.WithdrawalDate</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Outcome Date</strong></td>
                            <td>@Model.Record.OutcomeDate</td>
                            <td><strong>Cancellation Expense Claim Received Date</strong></td>
                            <td>@Model.Record.ExpenseClaimReceivedDate</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Withdrawal Reason</strong></td>
                            <td>@Model.Record.WithdrawalReason</td>
                            <td><strong>Cancellation Cost Refund</strong></td>
                            <td>@Model.Record.CostRefund</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Outcome -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
