<link href="~/Content/Views/Home/Companies.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Company>

@using (Html.BeginForm("Companies", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                        <th class="th-record-type">Record Type</th>
                        <th class="th-type">Type</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var company in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("CompanyView", new { ID = company.ID })" target="_blank">@company.CompanyName</a></td>
                                <td>@company.AccountRecordType</td>
                                <td>@company.Type</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Companies.js"></script>
}