<link href="~/Content/Views/Home/company.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Company - " + Model.Record.CompanyName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Company>

@using (Html.BeginForm("FileAttachmentUpload", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Company <strong>@Model.Record.CompanyName</strong>
            </span>
            <span class="panel-title pull-right">
                <span>Reference ID: <strong>@Model.Record.ID</strong></span>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Business Account Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Company Name</strong></td>
                            <td>@Model.Record.CompanyName</td>
                            <td><strong>Account Record Type</strong></td>
                            <td>@Model.Record.AccountRecordType</td>
                        </tr>
                        <tr>
                            <td><strong>Fomer Name</strong></td>
                            <td>@Model.Record.FormerName</td>
                            <td><strong>Account Owner</strong></td>
                            <td>@Model.Record.AccountOwner</td>
                        </tr>
                        <tr>
                            <td><strong>Type</strong></td>
                            <td>@Model.Record.Type</td>
                            <td><strong>Parent Account</strong></td>
                            <td>@(Model.Record.ParentAccount?.DisplayName)</td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong></td>
                            <td>@Model.Record.Description</td>
                            <td><strong>Phone</strong></td>
                            <td>@Model.Record.Phone</td>
                        </tr>
                        <tr>
                            <td><strong>Office ID OHIM</strong></td>
                            <td>@Model.Record.OfficeIDOHIM</td>
                            <td><strong>Fax</strong></td>
                            <td>@Model.Record.Fax</td>
                        </tr>
                        <tr>
                            <td><strong>OHIM_Num_Trademarks</strong></td>
                            <td>@Model.Record.OHIMNumTrademarks</td>
                            <td><strong>Email</strong></td>
                            <td>@Model.Record.Email</td>
                        </tr>
                        <tr>
                            <td><strong>Company Size</strong></td>
                            <td>@Model.Record.CompanyName</td>
                            <td><strong>Industry</strong></td>
                            <td>@Model.Record.Industry</td>
                        </tr>
                        <tr>
                            <td><strong>Name ID</strong></td>
                            <td>@Model.Record.NameID</td>
                            <td><strong>Employees</strong></td>
                            <td>@Model.Record.Employees</td>
                        </tr>
                        <tr>
                            <td><strong>Office ID GB</strong></td>
                            <td>@Model.Record.OfficeIDGB</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>OHIM_Num_oppositions</strong></td>
                            <td>@Model.Record.OHIMNUMOppositions</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Escrow Agent</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.EscrowAgent ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Broker</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Broker ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Deletion Request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Deletion Request</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Deletion Request</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.DeletionRequestChk ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request Reason</strong></td>
                            <td>@Model.Record.DeletionRequestReason</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Deletion Request -->
            <!-- START: Incorporation Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Incorporation Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Company Registration Number</strong></td>
                            <td>@Model.Record.CompanyRegistrationNumber</td>
                            <td><strong>Date of Incorporation</strong></td>
                            <td>@Model.Record.DateOfIncorporation</td>
                        </tr>
                        <tr>
                            <td><strong>Country of Incorporation</strong></td>
                            <td>@Model.Record.CountryOfIncorporation</td>
                            <td><strong>Officers</strong></td>
                            <td>@Model.Record.Officers</td>
                        </tr>
                        <tr>
                            <td><strong>Tax Number</strong></td>
                            <td>@Model.Record.TaxNumber</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Incorporation Information -->
            <!-- START: External Reporesentative Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">External Reporesenatative Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>TM Filing Cost</strong></td>
                            <td>@Model.Record.TMFilingCost</td>
                            <td><strong>Bigfoot Accredited</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.BigFootAccredited ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>TM Cancellation Cost</strong></td>
                            <td>@Model.Record.TMCancellationCost</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>TM Opposition Cost</strong></td>
                            <td>@Model.Record.TMOppositionCost</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>TM Priority Cost</strong></td>
                            <td>@Model.Record.TMPriorityCost</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>TM Registration Certificate Cost</strong></td>
                            <td>@Model.Record.TMRegistrationCertificateCost</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>TM Research Cost</strong></td>
                            <td>@Model.Record.TMResearchCost</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Other Cost</strong></td>
                            <td>@Model.Record.OtherCosts</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: External Reporesentative Information -->
            <!-- START: Address Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Address Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Shipping Address</strong></td>
                            <td>@Model.Record.ShippingStreet, @Model.Record.ShippingCity, @Model.Record.ShippingState, @Model.Record.ShippingPostalCode @Model.Record.ShippingCountry</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: External Reporesenatative Information -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewFileAttachment")
            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
}
