<link href="~/Content/Views/Home/Contacts.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Contact>

@using (Html.BeginForm("Contacts", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Contacts</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">
                            <a href="@Url.RouteUrl("Contacts", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "FirstName", sortOrder = (Model.SortBy == "FirstName" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Name @if (Model.SortBy == "FirstName")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-company-name">
                            <a href="@Url.RouteUrl("Contacts", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "NAME", sortOrder = (Model.SortBy == "NAME" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Company @if (Model.SortBy == "NAME")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-title">
                            <a href="@Url.RouteUrl("Contacts", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "Title", sortOrder = (Model.SortBy == "Title" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Title @if (Model.SortBy == "Title")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-phone">
                            <a href="@Url.RouteUrl("Contacts", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "Phone", sortOrder = (Model.SortBy == "Phone" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Phone @if (Model.SortBy == "Phone")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-email">
                            <a href="@Url.RouteUrl("Contacts", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "Email", sortOrder = (Model.SortBy == "Email" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Email @if (Model.SortBy == "Email")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var contact in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("ContactView", new { ID = contact.ID })" target="_blank">@($"{contact.FirstName} {contact.LastName}")</a></td>
                                <td>@contact.Company.CompanyName</td>
                                <td>@contact.Title</td>
                                <td>@contact.Phone</td>
                                <td>@contact.Email</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Contacts.js"></script>
}