<link href="~/Content/Views/Home/Contact.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Contact - " + Model.Record.Salutation + " " + Model.Record.FirstName + " " + Model.Record.MiddleName + " " + Model.Record.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Contact>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Contact <strong>@Model.Record.Salutation @Model.Record.FirstName @Model.Record.MiddleName @Model.Record.LastName</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Contact Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>@Model.Record.Salutation @Model.Record.FirstName @Model.Record.MiddleName @Model.Record.LastName</td>
                            <td><strong>Contact Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>Company Name</strong></td>
                            <td>@(Model.Record.Company?.CompanyName)</td>
                            <td><strong>Department</strong></td>
                            <td>@Model.Record.Department</td>
                        </tr>
                        <tr>
                            <td><strong>Title</strong></td>
                            <td>@Model.Record.Title</td>
                            <td><strong>Fax</strong></td>
                            <td>@Model.Record.Fax</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>@Model.Record.Email</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Phone</strong></td>
                            <td>@Model.Record.Phone</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Mobile</strong></td>
                            <td>@Model.Record.Mobile</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>OHIM_Owner_ID</strong></td>
                            <td>@Model.Record.OHIMOwnerID</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>OHIM_Num_Trademarks</strong></td>
                            <td>@Model.Record.OHIMNumTrademarks</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Website - Individual</strong></td>
                            <td>@Model.Record.WebsiteIndividual</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Address Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Address Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Mailing Address</strong></td>
                            <td>@Model.Record.MailingStreet, @Model.Record.MailingCity, @Model.Record.MailingState, @Model.Record.MailingPostalCode @Model.Record.MailingCountry</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Address Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
