<link href="~/Content/Views/Home/Domains.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Domains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<DomainN>

@using (Html.BeginForm("Domains", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="th-bg">
                        <th></th>
                        <th class="th-name">Name</th>
                        <th class="th-bigfoot-owned">BigFoot Owned</th>
                        <th class="th-registrant">Registrant</th>
                        <th class="th-expiration-date">Expiration Date</th>
                        <th class="th-registrar">Registrar</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var domain in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("DomainNView", new { ID = domain.ID })" target="_blank">View</a></td>
                                <td>@domain.Name</td>
                                <td><input type="checkbox" @(domain.BigFootOwned ? "checked" : string.Empty) disabled /></td>
                                <td>@(domain.Registrant?.DisplayName)</td>
                                <td>@domain.ExpirationDate</td>
                                <td>@(domain.Registrar?.Name)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Domains.js"></script>
}