<link href="~/Content/Views/Home/Domains.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Domains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<DomainN>

@using (Html.BeginForm("Domains", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="th-name">Name</th>
                        <th class="th-website-use">Website Use</th>
                        <th class="th-website-current">Website Current</th>
                        <th class="th-created-by">Created by</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var domain in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("DomainNView", new { ID = domain.ID })" target="_blank">@domain.Name</a></td>
                                <td>@domain.WebsiteUse</td>
                                <td><input type="checkbox" @(domain.WebsiteCurrent ? "checked" : string.Empty) disabled /></td>
                                <td>@domain.OwnerName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Domains.js"></script>
}