@using BigFootVentures.Application.Web.Models
@using BigFootVentures.Application.Web.Models.Extensions
@using BigFootVentures.Application.Web.Models.Utilities
@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Enumerators
@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Business.Objects.Utilities

@{
    ViewBag.Title = "Domain - " + (Model.Record.Name ?? "New Record");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<DomainN>

@using (Html.BeginForm("Domain", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Record.ID)
    @Html.HiddenFor(m => m.Record.RegistrantCompany.ID)
    @Html.HiddenFor(m => m.Record.DomainEnquiry.ID)
    @Html.HiddenFor(m => m.Record.Brand.ID)
    @Html.HiddenFor(m => m.Record.Registrar.ID)
    @Html.HiddenFor(m => m.Record.Registrant.ID)
    @Html.HiddenFor(m => m.Record.PreviousRegistrant.ID)
    @Html.HiddenFor(m => m.Record.TrademarkUsedInTheUDRPID)

    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are @(Model.Record.ID > 0 ? "editing" : "creating new") Domain <strong>@(Model.Record.Name ?? string.Empty)</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-edit"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Registrant Company</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.RegistrantCompany.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.RegistrantCompany.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Domain Detail -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Domain Detail</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Domain Name</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.Name, new { @class = "form-control required" })
                                @Html.ValidationMessageFor(m => m.Record.Name, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label text-neutral">Website Current</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.WebsiteCurrent, new { @class = "input-neutral" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Domain Enquiry</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.DomainEnquiry.OldCaseNumber, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.DomainEnquiry.OldCaseNumber" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>

                            <label class="col-sm-2 control-label">Locked</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.Locked)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Brand</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Brand.Name, new { @class = "form-control required", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Brand.Name" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Record.Brand.Name, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label text-neutral">Website Use</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.WebsiteUse, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.WebsiteUse>()), new { @class = "form-control input-neutral" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">BF Strategy</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.BFStrategy, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.BFStrategy>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Website Description</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Record.WebsiteDescription, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Buyside Funnel</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.BuysideFunnel, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.BuysideFunnel>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Website Redirect</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Record.WebsiteRedirect, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remarks</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Record.Remarks, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Expiration Date</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.ExpirationDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">FMV Order of Magnitude</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.FMVOrderOfMagnitude, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.FMVOrderOfMagnitude>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Company Website</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.CompanyWebsite)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.BuysideFunnel, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.Status>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Auto Renew</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.AutoRenew)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Version</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.Version, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">WHOIS</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.WHOIS, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.Category, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Registration Price USD</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.RegistrationPriceUSD, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account ID</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.AccountID, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Registration Date</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.RegistrationDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-neutral">BigFoot Owned</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.BigFootOwned, new { @class = "input-neutral", @disabled = "disabled" })
                            </div>

                            <label class="col-sm-2 control-label">Big Foot Parking Page</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.BigFootParkingPage, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">Privacy Protected</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.PrivacyProtected)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Domain Detail -->
            <!-- START: Registrar -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Registrar</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Registrar</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Registrar.Name, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Registrar.Name" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Registrar -->
            <!-- START: Current Registrant -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Current Registrant</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Registrant</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Registrant.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Registrant.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>

                            <label class="col-sm-2 control-label">Previous Registrant</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.PreviousRegistrant.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.PreviousRegistrant.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Registrant Email</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.RegistrantEmail, new { @class = "form-control", @disabled = "disabled" })
                            </div>

                            <label class="col-sm-2 control-label">Previous Registrant changed on</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.PreviousRegistrantChangedOn, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Private Registration Email</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Record.PrivateRegistrationEmail, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Current Registrant -->
            <!-- START: Domain Transactions -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Domain Transactions</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Purchase Price USD</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.PurchasePriceUSD, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Sale Price USD</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.SalePriceUSD, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Purchase Date</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.PurchaseDate, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Sale Date</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.SaleDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Domain Transactions -->
            <!-- START: Legal Section -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Legal Section</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">C&D Date Sent</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.CDDateSent, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">Trademark used in the UDRP</label>
                            <div class="col-sm-4 autocomplete">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.TrademarkUsedInTheUDRPName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.TrademarkUsedInTheUDRPName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">C&D Sent From</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.CDSentFrom, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.CDSentFrom>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">UDRP Filing Date</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.UDRPFilingDate, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">C&D Sent Method</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.CDSentMethod, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.CDSentMethod>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">UDRP cost (in USD)</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.UDRPCostInUSD, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">C&D Courier</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.CDCourier, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.CDCourier>()), new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">UDRP cost (other than USD)</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.UDRPCostOtherThanUSD, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">C&D Tracking Number</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.CDTrackingNumber, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label">UDRP Case Number</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.UDRPCaseNumber, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">Arbitrator Name</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.ArbitratorName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">UDRP Jurisdiction</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.UDRPJurisdiction, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.UDRPJurisdiction>()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">Language of Proceedings</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.LanguageOfProceedings, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Generic.Language>()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">Legal action/Related proceedings</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(m => m.Record.LegalActionRelatedProceedings)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">UDRP Outcome</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.Record.UDRPOutcome, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.Domain.UDRPOutcome>()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">UDRP Comment</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Record.UDRPComment, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Legal Section -->
            <!-- START: Deletion Request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Deletion Request</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Deletion Request</label>
                            <div class="col-sm-10">
                                @Html.CheckBoxFor(m => m.Record.DeletionRequest)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Deletion Request Reason</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Record.DeletionRequestReason, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Deletion Request -->
            <!-- START: System Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">System Information</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-offset-6 col-sm-2 control-label">Owner</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Record.OwnerName, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: System Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>

    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "RegistrantCompany.ID", ChildNameContainer = "RegistrantCompany.DisplayName" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Enquiry), ChildIDContainer = "DomainEnquiry.ID", ChildNameContainer = "DomainEnquiry.OldCaseNumber", ChildProperty = "Case Number" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Brand), ChildIDContainer = "Brand.ID", ChildNameContainer = "Brand.Name" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Register), ChildIDContainer = "Registrar.ID", ChildNameContainer = "Registrar.Name" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "Registrant.ID", ChildNameContainer = "Registrant.DisplayName" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "PreviousRegistrant.ID", ChildNameContainer = "PreviousRegistrant.DisplayName" })

    <script src="~/Scripts/Views/Shared/_Validator.js"></script>
    <script src="~/Scripts/Views/Shared/_PanelHelper.js"></script>
    <script src="~/Scripts/Views/Home/Domain.js"></script>
}
