<link href="~/Content/Views/Home/EmailResponse.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models
@using BigFootVentures.Application.Web.Models.Utilities
@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Enumerators
@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Business.Objects.Utilities

@{
    ViewBag.Title = "Email Response - " + (Model.Record.Name ?? "New Record");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<EmailResponse>

@using (Html.BeginForm("EmailResponse", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Record.ID)
    @Html.HiddenFor(m => m.Record.Enquiry.ID)

    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are @(Model.Record.ID > 0 ? "editing" : "creating new") Email Response <strong>@Html.Raw(Model.Record.Name)</strong>
            </span>
            <span class="panel-title pull-right">
                @{
                    if (Model.Record.ID > 0)
                    {
                        <span>Reference ID: <strong>@Model.Record.ID</strong></span>
                    }
                    else
                    {
                        <i class="fa fa-edit"></i>
                    }
                }
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Information</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Record.Name, new { @class = "form-control required" })
                                @Html.ValidationMessageFor(m => m.Record.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Enquiries</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Enquiry.OldCaseNumber, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Enquiry.OldCaseNumber" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Record.Description, new { @class = "form-control", @id= "Record.Description" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Record.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.Record.Status, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.EmailResponse.Status>()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Record.Subject, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Message Date</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Record.MessageDate, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>

    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Enquiry), ChildIDContainer = "Enquiry.ID", ChildNameContainer = "Enquiry.OldCaseNumber" })

    <script src="~/Scripts/Views/Shared/_Validator.js"></script>
    <script src="~/Scripts/Views/Shared/_PanelHelper.js"></script>
    <script src="~/Scripts/Views/Home/EmailResponse.js"></script>
}
