<link href="~/Content/Views/Home/EmailResponses.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Email Responses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<EmailResponse>

@using (Html.BeginForm("EmailResponses", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var emailResponse in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("EmailResponsesView", new { ID = emailResponse.ID })" target="_blank">@emailResponse.Name</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/EmailResponses.js"></script>
}