<link href="~/Content/Views/Home/EmailResponse.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "EmailResponse - " + Model.Record.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<EmailResponse>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing EmailResponse <strong>@Model.Record.Name</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">EmailResponse Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>@Model.Record.Name</td>
                            <td><strong>Ownner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>Enquiries</strong></td>
                            <td>@(Model.Record.Enquiry?.OldCaseNumber)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong></td>
                            <td>@Model.Record.Description</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>@Model.Record.Email</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td>@Model.Record.Status</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Subject</strong></td>
                            <td>@Model.Record.Subject</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Message Date</strong></td>
                            <td>@Model.Record.MessageDate</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
