<link href="~/Content/Views/Home/Enquiry.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Enquiry - " + Model.Record.OldCaseNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Enquiry>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Enquiry <strong>@Model.Record.OldCaseNumber</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Enquiry Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Case Number</strong></li>
                            <li class="list-group-item"><strong>Owner</strong></li>
                            <li class="list-group-item"><strong>Negotiation BF Amount</strong></li>
                            <li class="list-group-item"><strong>Negotiation 3rd Party Amount</strong></li>
                            <li class="list-group-item"><strong>Old Casenumber</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.OldCaseNumber</li>
                            <li class="list-group-item">@Model.Record.OwnerName</li>
                            <li class="list-group-item">@Model.Record.NegotiationBFAmount</li>
                            <li class="list-group-item">@Model.Record.Negotiation3rdPartyAmount</li>
                            <li class="list-group-item">@Model.Record.OldCaseNumber</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Priority</strong></li>
                            <li class="list-group-item"><strong>Status</strong></li>
                            <li class="list-group-item"><strong>Send Email</strong></li>
                            <li class="list-group-item"><strong>Unread Email</strong></li>
                            <li class="list-group-item"><strong>Do Not Contact</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.Priority</li>
                            <li class="list-group-item">@Model.Record.Status</li>
                            <li class="list-group-item">@Model.Record.SendEmail</li>
                            <li class="list-group-item">@Model.Record.UnreadEmail</li>
                            <li class="list-group-item">@Model.Record.DoNotContact</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Description -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Description</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Subject</strong></li>
                            <li class="list-group-item"><strong>Private Registration Email</strong></li>
                            <li class="list-group-item"><strong>Registrant</strong></li>
                            <li class="list-group-item"><strong>Case Origin</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.Subject</li>
                            <li class="list-group-item">@Model.Record.PrivateRegistrationEmail</li>
                            <li class="list-group-item">@Model.Record.Registrant</li>
                            <li class="list-group-item">@Model.Record.CaseOrigin</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Record Type</strong></li>
                            <li class="list-group-item"><strong>Reference Number</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.RecordType</li>
                            <li class="list-group-item">@Model.Record.ReferenceNumber</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Description -->
            <!-- START: Owner -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Owner</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Domain Name</strong></li>
                            <li class="list-group-item"><strong>Registrant Company</strong></li>
                            <li class="list-group-item"><strong>Street</strong></li>
                            <li class="list-group-item"><strong>State</strong></li>
                            <li class="list-group-item"><strong>Country</strong></li>
                            <li class="list-group-item"><strong>Phone</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.DomainName</li>
                            <li class="list-group-item">@Model.Record.RegistrantCompany</li>
                            <li class="list-group-item">@Model.Record.Street</li>
                            <li class="list-group-item">@Model.Record.State</li>
                            <li class="list-group-item">@Model.Record.Country</li>
                            <li class="list-group-item">@Model.Record.Phone</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Registrar</strong></li>
                            <li class="list-group-item"><strong>Registrant Email</strong></li>
                            <li class="list-group-item"><strong>City</strong></li>
                            <li class="list-group-item"><strong>Postal Code</strong></li>
                            <li class="list-group-item"><strong>Description</strong></li>
                            <li class="list-group-item"><strong>Fax</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.Registrar</li>
                            <li class="list-group-item">@Model.Record.RegistrantEmail</li>
                            <li class="list-group-item">@Model.Record.City</li>
                            <li class="list-group-item">@Model.Record.PostalCode</li>
                            <li class="list-group-item">@Model.Record.Description</li>
                            <li class="list-group-item">@Model.Record.Fax</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Owner -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
