<link href="~/Content/Views/Home/Enquiries.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Enquiries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Enquiry>

@using (Html.BeginForm("Enquiries", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-case-number">Case Number</th>
                        <th class="th-description">Description</th>
                        <th class="th-reference-number">Reference Number</th>
                        <th class="th-domain-name">Domain Name</th>
                        <th class="th-do-not-contact">Do Not Contact</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var enquiry in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("EnquiryView", new { ID = enquiry.ID })" target="_blank">@enquiry.OldCaseNumber</a></td>
                                <td>@enquiry.Description</td>
                                <td>@enquiry.ReferenceNumber</td>
                                <td>@enquiry.DomainName</td>
                                <td>@enquiry.DoNotContact</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Enquiries.js"></script>
}