<link href="~/Content/Views/Home/Enquiry.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Enquiry - " + Model.Record.OldCaseNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Enquiry>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Enquiry <strong>@Model.Record.CaseNumber</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Enquiry Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Case Number</strong></td>
                            <td>@Model.Record.CaseNumber</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>% of Completion</strong></td>
                            <td>@Model.Record.PercentOfCompletion</td>
                            <td><strong>Status</strong></td>
                            <td>@Model.Record.Status</td>
                        </tr>
                        <tr>
                            <td><strong>Old Casenumber</strong></td>
                            <td>@Model.Record.OldCaseNumber</td>
                            <td><strong>Priority</strong></td>
                            <td>@Model.Record.Priority</td>
                        </tr>
                        <tr>
                            <td><strong>CASEREASSIGN</strong></td>
                            <td>@Model.Record.CaseAssign</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Description -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Description</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Subject</strong></td>
                            <td>@Model.Record.Subject</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong></td>
                            <td>@Model.Record.Description</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Field Name(s)</strong></td>
                            <td>@Model.Record.FieldNames</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Internal Comments</strong></td>
                            <td>@Model.Record.InternalComments</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Object Name(s)</strong></td>
                            <td>@Model.Record.ObjectNames</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Technical Assesment</strong></td>
                            <td>@Model.Record.TechnicalAssessment</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Description -->
            <!-- START: Addition Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Additional Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Test Plan</strong></td>
                            <td>@Model.Record.TestPlan</td>
                            <td><strong>Record Type</strong></td>
                            <td>@Model.Record.RecordType</td>
                        </tr>
                        <tr>
                            <td><strong>Steps To Test</strong></td>
                            <td>@Model.Record.StepsToTest</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Test Outcome</strong></td>
                            <td>@Model.Record.TestOutcome</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Additional Information -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
