<link href="~/Content/Views/Home/Enquiry.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Enquiry - " + Model.Record.OldCaseNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Enquiry>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Enquiry <strong>@Model.Record.OldCaseNumber</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Enquiry Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Case Number</strong></li>
                            <li class="list-group-item"><strong>% of Completion</strong></li>
                            <li class="list-group-item"><strong>Old Casenumber</strong></li>
                            <li class="list-group-item"><strong>CASEREASSIGN</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.OldCaseNumber</li>
                            <li class="list-group-item">@Model.Record.PercentOfCompletion</li>
                            <li class="list-group-item">@Model.Record.OldCaseNumber</li>
                            <li class="list-group-item">@Model.Record.CaseAssign</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Owner</strong></li>
                            <li class="list-group-item"><strong>Status</strong></li>
                            <li class="list-group-item"><strong>Priority</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.OwnerName</li>
                            <li class="list-group-item">@Model.Record.Status</li>
                            <li class="list-group-item">@Model.Record.Priority</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Description -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Description</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Subject</strong></li>
                            <li class="list-group-item"><strong>Description</strong></li>
                            <li class="list-group-item"><strong>Field Name(s)</strong></li>
                            <li class="list-group-item"><strong>Internal Comments</strong></li>
                            <li class="list-group-item"><strong>Object Name(s)</strong></li>
                            <li class="list-group-item"><strong>Technical Assesment</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.Subject</li>
                            <li class="list-group-item">@Model.Record.Description</li>
                            <li class="list-group-item">@Model.Record.FieldNames</li>
                            <li class="list-group-item">@Model.Record.InternalComments</li>
                            <li class="list-group-item">@Model.Record.ObjectNames</li>
                            <li class="list-group-item">@Model.Record.TechnicalAssessment</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Description -->
            <!-- START: Addition Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Additional Information</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Test Plan</strong></li>
                            <li class="list-group-item"><strong>Steps To Test</strong></li>
                            <li class="list-group-item"><strong>Test Outcome</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.TestPlan</li>
                            <li class="list-group-item">@Model.Record.StepsToTest</li>
                            <li class="list-group-item">@Model.Record.TestOutcome</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Record Type</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.RecordType</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Additional Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
