<link href="~/Content/Views/Home/Enquiry.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Enquiry - " + Model.Record.OldCaseNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Enquiry>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Enquiry <strong>@Model.Record.OldCaseNumber</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Enquiry Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Case Number</strong></td>
                            <td>@Model.Record.CaseNumber</td>
                            <td><strong>Priority</strong></td>
                            <td>@Model.Record.Priority</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                            <td><strong>Status</strong></td>
                            <td>@Model.Record.Status</td>
                            <td><strong>Negotiation BF Amount</strong></td>
                            <td>@Model.Record.NegotiationBFAmount</td>
                            <td><strong>Send Email</strong></td>
                            <td>@Model.Record.SendEmail</td>
                            <td><strong>Negotiation 3rd Party Amount</strong></td>
                            <td>@Model.Record.Negotiation3rdPartyAmount</td>
                            <td><strong>Unread Email</strong></td>
                            <td>@Model.Record.UnreadEmail</td>
                            <td><strong>Old Casenumber</strong></td>
                            <td>@Model.Record.OldCaseNumber</td>
                            <td><strong>Do Not Contact</strong></td>
                            <td>@Model.Record.DoNotContact</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Description -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Description</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Subject</strong></td>
                            <td>@Model.Record.Subject</td>
                            <td><strong>Record Type</strong></td>
                            <td>@Model.Record.RecordType</td>
                        </tr>
                        <tr>
                            <td><strong>Private Registration Email</strong></td>
                            <td>@Model.Record.PrivateRegistrationEmail</td>
                            <td><strong>Reference Number</strong></td>
                            <td>@Model.Record.ReferenceNumber</td>
                        </tr>
                        <tr>
                            <td><strong>Registrant</strong></td>
                            <td>@Model.Record.Registrant</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Case Origin</strong></td>
                            <td>@Model.Record.CaseOrigin</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Description -->
            <!-- START: Owner -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Owner</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Domain Name</strong></td>
                            <td>@Model.Record.DomainName</td>
                            <td><strong>Registrar</strong></td>
                            <td>@Model.Record.Registrar</td>
                        </tr>
                        <tr>
                            <td><strong>Registrant Company</strong></td>
                            <td>@Model.Record.RegistrantCompany</td>
                            <td><strong>Registrant Email</strong></td>
                            <td>@Model.Record.RegistrantEmail</td>
                        </tr>
                        <tr>
                            <td><strong>Street</strong></td>
                            <td>@Model.Record.Street</td>
                            <td><strong>City</strong></td>
                            <td>@Model.Record.City</td>
                        </tr>
                        <tr>
                            <td><strong>State</strong></td>
                            <td>@Model.Record.State</td>
                            <td><strong>Postal Code</strong></td>
                            <td>@Model.Record.PostalCode</td>
                        </tr>
                        <tr>
                            <td><strong>Country</strong></td>
                            <td>@Model.Record.Country</td>
                            <td><strong>Description</strong></td>
                            <td>@Model.Record.Description</td>
                        </tr>
                        <tr>
                            <td><strong>Phone</strong></td>
                            <td>@Model.Record.Phone</td>
                            <td><strong>Fax</strong></td>
                            <td>@Model.Record.Fax</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Owner -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
