<link href="~/Content/Views/Home/Index.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Home";
}

@model VMDashboard

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <h3>My Tasks</h3>
    <hr />
    <div class="panel panel-default">
        <div class="table-responsive">
            @{
                if (Model.Tasks.Records.Any())
                {
                    <table class="table table-striped table-hover" name="Table.Tasks">
                        <thead>
                            <tr class="th-bg">
                                <th class="th-subject">Subject</th>
                                <th class="th-issue-date">Issue Date</th>
                                <th class="th-due-date">Due Date</th>
                                <th class="th-related-to">Assigned Object</th>
                                <th class="th-owner-name">Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var task in Model.Tasks.Records)
                                {
                                    <tr>
                                        <td><a href="@Url.RouteUrl("TaskView", new { ID = task.ID })" target="_blank">@task.Subject</a></td>
                                        <td>@(task.IssueDate?.ToString("dd-MM-yyyy"))</td>
                                        <td>@(task.DueDate?.ToString("dd-MM-yyyy"))</td>
                                        <td>@task.RelatedToObjectName</td>
                                        <td>@task.OwnerName</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="table-empty">You have no open tasks scheduled for this period.</p>
                }
            }
        </div>
        @{
            if (Model.Tasks.Records.Any())
            {
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" name="rowCount" value="@Model.Tasks.RowCount" />
                            <input type="hidden" name="page" value="@Model.Tasks.Page" />
                            <nav aria-label="...">
                                <ul class="pager">
                                    @{
                                        if (Model.Tasks.Page != 1)
                                        {
                                            <li><a id="pagePrevious" href="#">Previous</a></li>
                                        }
                                        if (Model.Tasks.Pages > Model.Tasks.Page)
                                        {
                                            <li><a id="pageNext" href="#">Next</a></li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(function () {
                            $('#pagePrevious').on('click', function () {
                                $('[name="page"]').val('@(Model.Tasks.Page - 1)');
                                $('form').submit();
                            });

                            $('#pageNext').on('click', function () {
                                $('[name="page"]').val('@(Model.Tasks.Page + 1)');
                                $('form').submit();
                            });
                        });
                    </script>
                </div>
            }
        }
    </div>

    <script src="~/Scripts/Views/Home/Index.js"></script>
}