<link href="~/Content/Views/Home/Lead.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Lead - " + Model.Record.FirstName + " " + Model.Record.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Lead>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Lead <strong>@Model.Record.FirstName @Model.Record.LastName</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Lead Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Lead Status</strong></td>
                            <td>@Model.Record.Status</td>
                            <td><strong>Lead Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>@Model.Record.FirstName @Model.Record.MiddleName @Model.Record.LastName</td>
                            <td><strong>Company</strong></td>
                            <td>@Model.Record.Company</td>
                        </tr>
                        <tr>
                            <td><strong>Title</strong></td>
                            <td>@Model.Record.Title</td>
                            <td><strong>Industry</strong></td>
                            <td>@Model.Record.Industry</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>@Model.Record.Email</td>
                            <td><strong>No. of Employees</strong></td>
                            <td>@Model.Record.NoOfEmployees</td>
                        </tr>
                        <tr>
                            <td><strong>Phone</strong></td>
                            <td>@Model.Record.Phone</td>
                            <td><strong>Lead Source</strong></td>
                            <td>@Model.Record.Source</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Address Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Address Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>@Model.Record.Street, @Model.Record.City, @Model.Record.State, @Model.Record.PostalCode @Model.Record.Country</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Address Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
