<link href="~/Content/Views/Home/Leads.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Leads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Lead>

@using (Html.BeginForm("Leads", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Leads</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                        <th class="th-company">Company</th>
                        <th class="th-status">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var lead in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("LeadView", new { ID = lead.ID })" target="_blank">@($"{lead.FirstName} {lead.LastName}")</a></td>
                                <td>@lead.Company</td>
                                <td>@lead.Status</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Leads.js"></script>
}