<link href="~/Content/Views/Home/LegalCase.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Legal Case - " + Model.Record.TypeOfCase;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<LegalCase>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Legal Case <strong>@Model.Record.TypeOfCase</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Legal Case Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Type Of Case</strong></td>
                            <td>@Model.Record.TypeOfCase</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.DisplayName</td>
                        </tr>
                        <tr>
                            <td><strong>Type of Case External Clients</strong></td>
                            <td>@Model.Record.TypeOfCaseExternalClients</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Trademark</strong></td>
                            <td>@(Model.Record.Trademark?.Name)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Trademark Number</strong></td>
                            <td>@Model.Record.TrademarkNumber</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Keywords</strong></td>
                            <td>@Model.Record.Keywords</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Date Assigned</strong></td>
                            <td>@Model.Record.DateAssigned</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Court Url</strong></td>
                            <td>@Model.Record.CourtURL</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Plantiff</strong></td>
                            <td>@(Model.Record.Plaintiff?.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Defendant</strong></td>
                            <td>@(Model.Record.Defendant.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Plantiff Representative</strong></td>
                            <td>@(Model.Record.PlaintiffRepresentative?.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Defendant Representative</strong></td>
                            <td>@(Model.Record.DefendantRepresentative?.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.DeletionRequest ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request Reason</strong></td>
                            <td>@Model.Record.DeletionRequestReason</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
