<link href="~/Content/Views/Home/LegalCases.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Legal Cases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<LegalCase>

@using (Html.BeginForm("LegalCases", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-legal-proceeding-name">Legal Proceeding Name</th>
                        <th class="th-type-of-case">Type of Case</th>
                        <th class="th-date-assigned">Date Assigned</th>
                        <th class="th-trademark-name">Trademark</th>
                        <th class="th-office-name">Office</th>
                        <th class="th-keywords">Keywords</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var legalCase in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("LegalCaseView", new { ID = legalCase.ID })" target="_blank">@legalCase.LegalProceedingName</a></td>
                                <td>@legalCase.TypeOfCase</td>
                                <td>@legalCase.DateAssigned</td>
                                <td>@(legalCase.Trademark?.Name)</td>
                                <td>@(legalCase.Trademark?.Office?.OfficeName)</td>
                                <td>@legalCase.Keywords</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/LegalCases.js"></script>
}