<link href="~/Content/Views/Home/LegalCase.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models
@using BigFootVentures.Application.Web.Models.Utilities
@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Enumerators
@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Business.Objects.Utilities

@{
    ViewBag.Title = "Legal Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<LegalCase>

@using (Html.BeginForm("LegalCase", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Record.ID)
    @Html.HiddenFor(m => m.Record.Trademark.ID)
    @Html.HiddenFor(m => m.Record.Plaintiff.ID)
    @Html.HiddenFor(m => m.Record.Defendant.ID)
    @Html.HiddenFor(m => m.Record.PlaintiffRepresentative.ID)
    @Html.HiddenFor(m => m.Record.DefendantRepresentative.ID)

    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are @(Model.Record.ID > 0 ? "editing" : "creating new") Legal Case
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-edit"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Information
                        <span class="pull-right panel-control"><i class="fa fa-window-minimize"></i></span>
                    </h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type of case</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.Record.TypeOfCase, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.LegalCase.TypeOfCase>()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type of Case External Clients</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.Record.TypeOfCaseExternalClients, new SelectList(EnumUtils.GetDescriptions<ManagementEnums.LegalCase.TypeOfCaseExternalClients>()), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Trademark</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Trademark.Name, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Trademark.Name" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Trademark Number</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.TrademarkNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Keywords</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextAreaFor(m => m.Record.Keywords, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date Assigned</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.DateAssigned, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Court URL</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.CourtURL, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Plaintiff</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Plaintiff.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Plaintiff.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Defendant</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.Defendant.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.Defendant.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Plaintiff Representative</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.PlaintiffRepresentative.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.PlaintiffRepresentative.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Defendant Representative</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Record.DefendantRepresentative.DisplayName, new { @class = "form-control", @readonly = "readonly" })
                                    <div class="input-group-btn">
                                        <button type="button" name="Button.DefendantRepresentative.DisplayName" class="btn btn-default"><i class="fa fa-address-book-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Deletion Request</label>
                            <div class="col-sm-10">
                                @Html.CheckBoxFor(m => m.Record.DeletionRequest)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Deletion Request Reason</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextAreaFor(m => m.Record.DeletionRequestReason, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>

    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Trademark), ChildIDContainer = "Trademark.ID", ChildNameContainer = "Trademark.Name" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "Plaintiff.ID", ChildNameContainer = "Plaintiff.DisplayName" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "Defendant.ID", ChildNameContainer = "Defendant.DisplayName" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "PlaintiffRepresentative.ID", ChildNameContainer = "PlaintiffRepresentative.DisplayName" })
    @Html.Partial("../Shared/_Components/Modals/_AssociateParentChild", new VMAssociation { ParentName = Model.Name, ChildName = nameof(Company), ChildIDContainer = "DefendantRepresentative.ID", ChildNameContainer = "DefendantRepresentative.DisplayName" })

    <script src="~/Scripts/Views/Shared/_Validator.js"></script>
    <script src="~/Scripts/Views/Shared/_PanelHelper.js"></script>
    <script src="~/Scripts/Views/Home/LegalCase.js"></script>
}
