@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Login Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<LoginInformation>

@using (Html.BeginForm("LoginInformations", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Login Information</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th></th>
                        <th class="th-account-name">Account Name</th>
                        <th class="th-office-name">Office</th>
                        <th class="th-url">URL</th>
                        <th class="th-country">Country</th>
                        <th class="th-id">ID</th>
                        <th class="th-pw">PW</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var loginInformation in Model.Records)
                        {
                            <tr class="th-bg">
                                <td><a href="@Url.RouteUrl("LoginInformationView", new { ID = loginInformation.ID })" target="_blank">View</a></td>
                                <td>@loginInformation.AccountName</td>
                                <td>@loginInformation.Office</td>
                                <td>@loginInformation.Url</td>
                                <td>@loginInformation.Country</td>
                                <td>@loginInformation.LoginInformationID</td>
                                <td>@loginInformation.PW</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/OfficeStatuses.js"></script>
}