@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Login Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<LoginInformation>

@using (Html.BeginForm("LoginInformations", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-account-name">Account Name</th>
                        <th class="th-id">ID</th>
                        <th class="th-email-address">Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var loginInformation in Model.Records)
                        {
                            <tr class="th-bg">
                                <td class="th-account-name"><a href="@Url.RouteUrl("LoginInformationView", new { ID = loginInformation.ID })" target="_blank">@loginInformation.AccountName</a></td>
                                <td class="th-login-information-id">@loginInformation.LoginInformationID</td>
                                <td class="th-email-address">@loginInformation.EmailAddress</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/OfficeStatuses.js"></script>
}