<link href="~/Content/Views/Home/Office.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Office - " + Model.Record.OfficeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Office>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Office <strong>@Model.Record.OfficeName</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Office Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Office Name</strong></li>
                            <li class="list-group-item"><strong>External_ID</strong></li>
                            <li class="list-group-item"><strong>Geography_Type</strong></li>
                            <li class="list-group-item"><strong>State</strong></li>
                            <li class="list-group-item"><strong>State_Abbreviation</strong></li>
                            <li class="list-group-item"><strong>Office URL</strong></li>
                            <li class="list-group-item"><strong>Office Value Category</strong></li>
                            <li class="list-group-item"><strong>Online</strong></li>
                            <li class="list-group-item"><strong>Online Comments</strong></li>
                            <li class="list-group-item"><strong>Publication Date Comments</strong></li>
                            <li class="list-group-item"><strong>Registration Date Comments</strong></li>
                            <li class="list-group-item"><strong>Opposition Period Months</strong></li>
                            <li class="list-group-item"><strong>Search URL</strong></li>
                            <li class="list-group-item"><strong>Office Statuses Source</strong></li>
                            <li class="list-group-item"><strong>Office Name Archieve</strong></li>
                            <li class="list-group-item"><strong>National Number Assigned</strong></li>
                            <li class="list-group-item"><strong>Points</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.OfficeName</li>
                            <li class="list-group-item">@Model.Record.ExternalID</li>
                            <li class="list-group-item">@Model.Record.GeographyType</li>
                            <li class="list-group-item">@Model.Record.State</li>
                            <li class="list-group-item">@Model.Record.StateAbbreviation</li>
                            <li class="list-group-item">@Model.Record.OfficeUrl</li>
                            <li class="list-group-item">@Model.Record.OfficeValueCategory</li>
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.Online ? "checked" : string.Empty) /></li>
                            <li class="list-group-item">@Model.Record.OnlineComments</li>
                            <li class="list-group-item">@Model.Record.PublicationDateComments</li>
                            <li class="list-group-item">@Model.Record.RegistrationDateComments</li>
                            <li class="list-group-item">@Model.Record.OppositionPeriodMonths</li>
                            <li class="list-group-item">@Model.Record.SearchUrl</li>
                            <li class="list-group-item">@Model.Record.OfficeStatusesSource</li>
                            <li class="list-group-item">@Model.Record.OfficeNameArchive</li>
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.NationalNumberAssigned ? "checked" : string.Empty) /></li>
                            <li class="list-group-item">@Model.Record.Points</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Owner</strong></li>
                            <li class="list-group-item"><strong>PCT</strong></li>
                            <li class="list-group-item"><strong>Paris</strong></li>
                            <li class="list-group-item"><strong>WTO</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.OwnerName</li>
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.PCT ? "checked" : string.Empty) /></li>
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.Paris ? "checked" : string.Empty) /></li>
                            <li class="list-group-item"><input type="checkbox" disabled="disabled" @(Model.Record.WTO ? "checked" : string.Empty) /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Payment and Tracking -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Payment and Tracking</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Registration Payment Notification</strong></li>
                            <li class="list-group-item"><strong>Registration Payment Methods</strong></li>
                            <li class="list-group-item"><strong>Opposition Payment Notification</strong></li>
                            <li class="list-group-item"><strong>Opposition Payment Methods</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@Model.Record.RegistrationPaymentNotification</li>
                            <li class="list-group-item">@Model.Record.RegistrationPaymentMethod</li>
                            <li class="list-group-item">@Model.Record.OppositionPaymentNotification</li>
                            <li class="list-group-item">@Model.Record.OppositionPaymentMethod</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Payment and Tracking -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
