<link href="~/Content/Views/Home/Office.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Office - " + Model.Record.OfficeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<Office>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing Office <strong>@Model.Record.OfficeName</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Office Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Office Name</strong></td>
                            <td>@Model.Record.OfficeName</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>External_ID</strong></td>
                            <td>@Model.Record.ExternalID</td>
                            <td><strong>PCT</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.PCT ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>Geography_Type</strong></td>
                            <td>@Model.Record.GeographyType</td>
                            <td><strong>Paris</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Paris ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>State</strong></td>
                            <td>@Model.Record.State</td>
                            <td><strong>WTO</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.WTO ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>State_Abbreviation</strong></td>
                            <td>@Model.Record.StateAbbreviation</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Office URL</strong></td>
                            <td>@Model.Record.OfficeUrl</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Office Value Category</strong></td>
                            <td>@Model.Record.OfficeValueCategory</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Online</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Online ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Online Comments</strong></td>
                            <td>@Model.Record.OnlineComments</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Publication Date Comments</strong></td>
                            <td>@Model.Record.PublicationDateComments</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Registration Date Comments</strong></td>
                            <td>@Model.Record.RegistrationDateComments</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Opposition Period Months</strong></td>
                            <td>@Model.Record.OppositionPeriodMonths</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Search URL</strong></td>
                            <td>@Model.Record.SearchUrl</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Office Statuses Source</strong></td>
                            <td>@Model.Record.OfficeStatusesSource</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Office Name Archieve</strong></td>
                            <td>@Model.Record.OfficeNameArchive</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>National Number Assigned</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.NationalNumberAssigned ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Points</strong></td>
                            <td>@Model.Record.Points</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Payment and Tracking -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Payment and Tracking</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Registration Payment Notification</strong></td>
                            <td>@Model.Record.RegistrationPaymentNotification</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Registration Payment Methods</strong></td>
                            <td>@Model.Record.RegistrationPaymentMethod</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Opposition Payment Notification</strong></td>
                            <td>@Model.Record.OppositionPaymentNotification</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Opposition Payment Methods</strong></td>
                            <td>@Model.Record.OppositionPaymentMethod</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Payment and Tracking -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
