<link href="~/Content/Views/Home/OfficeStatuses.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Office Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<OfficeStatus>

@using (Html.BeginForm("OfficeStatuses", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Office Status</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-id">ID</th>
                        <th class="th-name">Name</th>
                        <th class="th-status-description">Status Description</th>
                        <th class="th-status-grouping">Status Grouping</th>
                        <th class="th-office">Office</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var officeStatus in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("OfficeStatusView", new { ID = officeStatus.ID })" target="_blank">@officeStatus.ID</a></td>
                                <td>@officeStatus.Name</td>
                                <td>@officeStatus.StatusDescription</td>
                                <td>@officeStatus.StatusGrouping</td>
                                <td>@(officeStatus.Office?.OfficeName)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/OfficeStatuses.js"></script>
}
