<link href="~/Content/Views/Home/SimilarTrademark.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Similar Trademark - " + Model.Record.Trademark?.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<SimilarTrademark>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing similar trademark <strong>@(Model.Record.Trademark?.Name)</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Similar Trademark Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Trademark Name</strong></td>
                            <td>@(Model.Record.Trademark?.Name)</td>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.OwnerName</td>
                        </tr>
                        <tr>
                            <td><strong>Comment</strong></td>
                            <td>@Model.Record.Comment</td>
                            <td><strong>Trademark Similar Name</strong></td>
                            <td>@(Model.Record.TrademarkSimilar?.Name)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Conflict</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Conflict ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Create Opposition Check</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.CreateOppositionCheck ? "checked" : string.Empty) /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: System Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">System Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Class Summary TM</strong></td>
                            <td>@Model.Record.ClassSummaryTM</td>
                            <td><strong>Class Summary Similar TM</strong></td>
                            <td>@Model.Record.ClassSummarySimilarTM</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: System Information -->
            <!-- START: Potential Opposition -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Potential Opposition</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Remarks</strong></td>
                            <td>@Model.Record.Remarks</td>
                            <td><strong>Opposition Evaluation</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Refilling Evaluation</strong></td>
                            <td>@Model.Record.RefilingEvaluation</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Refilling Comment</strong></td>
                            <td>@Model.Record.RefilingComment</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Potential Opposition -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
