<link href="~/Content/Views/Home/Tasks.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Task>

@using (Html.BeginForm("Tasks", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Tasks</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-subject">Subject</th>
                        <th class="th-status">Status</th>
                        <th class="th-issue-date">Issue Date</th>
                        <th class="th-due-date">Due Date</th>
                        <th class="th-assigned-to">Assigned To</th>
                        <th class="th-owner">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var task in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("TaskView", new { ID = task.ID })" target="_blank">@task.Subject</a></td>
                                <td>@task.Status</td>
                                <td>@(task.IssueDate?.ToString("dd-MM-yyyy"))</td>
                                <td>@(task.DueDate?.ToString("dd-MM-yyyy"))</td>
                                <td>@task.AssignedTo.DisplayName</td>
                                <td>@task.OwnerName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Tasks.js"></script>
}
