<link href="~/Content/Views/Home/Tasks.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Task>

@using (Html.BeginForm("Tasks", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Tasks</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-subject">
                            <a href="@Url.RouteUrl("Tasks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "Subject", sortOrder = (Model.SortBy == "Subject" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc") })">
                                Subject @if (Model.SortBy == "Subject")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-status">
                            <a href="@Url.RouteUrl("Tasks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "Status", sortOrder = (Model.SortBy == "Status" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc") })">
                                Status @if (Model.SortBy == "Status")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-issue-date">
                            <a href="@Url.RouteUrl("Tasks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "IssueDate", sortOrder = (Model.SortBy == "IssueDate" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc") })">
                                Issue Date @if (Model.SortBy == "IssueDate")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-due-date">
                            <a href="@Url.RouteUrl("Tasks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "DueDate", sortOrder = (Model.SortBy == "DueDate" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc") })">
                                Due Date @if (Model.SortBy == "DueDate")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-assigned-to">
                            <a href="@Url.RouteUrl("Tasks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "FirstName", sortOrder = (Model.SortBy == "FirstName" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc") })">
                                Assigned To @if (Model.SortBy == "FirstName")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-owner">
                            <a href="@Url.RouteUrl("Tasks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "OwnerName" , sortOrder = (Model.SortBy == "OwnerName" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc") })">
                                Owner @if (Model.SortBy == "OwnerName")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var task in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("TaskView", new { ID = task.ID })" target="_blank">@task.Subject</a></td>
                                <td>@task.Status</td>
                                <td>@(task.IssueDate?.ToString("dd-MM-yyyy"))</td>
                                <td>@(task.DueDate?.ToString("dd-MM-yyyy"))</td>
                                <td>@task.AssignedTo.DisplayName</td>
                                <td>@task.OwnerName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Tasks.js"></script>
}
