<link href="~/Content/Views/Home/TMRepresentatives.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "TM Representatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<TMRepresentative>

@using (Html.BeginForm("TMRepresentatives", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-tm-representative-name">TM Representative Name</th>
                        <th class="th-trademark">Trademark</th>
                        <th class="th-company-display-name">Representative</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var TMRepresentative in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("TMRepresentativeView", new { ID = TMRepresentative.ID })" target="_blank">@TMRepresentative.TMRepresentativeName</a></td>
                                <td>@TMRepresentative.Trademark.Name</td>
                                <td>@TMRepresentative.Representative.DisplayName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/TMRepresentatives.js"></script>
}