<link href="~/Content/Views/Home/TMRepresentative.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "TM Representative - " + Model.Record.TMRepresentativeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<TMRepresentative>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing TM representative <strong>@(Model.Record.TMRepresentativeName)</strong>
            </span>
            <span class="panel-title pull-right">
                <span>Reference ID: <strong>@Model.Record.ID</strong></span>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">TM representative Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>TM Representative Name</strong></td>
                            <td>@Model.Record.TMRepresentativeName</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Trademark</strong></td>
                            <td>@(Model.Record.Trademark?.Name)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Representative</strong></td>
                            <td>@(Model.Record.Representative?.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
