<link href="~/Content/Views/Home/TMRepresentative.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "TM Representative - " + Model.Record.Trademark?.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<TMRepresentative>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing TM representative <strong>@(Model.Record.Trademark?.Name)</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">TM representative Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Trademark</strong></li>
                            <li class="list-group-item"><strong>Representative</strong></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item">@(Model.Record.Trademark?.Name)</li>
                            <li class="list-group-item">@(Model.Record.Representative?.CompanyName)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
