<link href="~/Content/Views/Home/Trademarks.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Trademarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Trademark>

@using (Html.BeginForm("Trademarks", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                        <th class="th-trademark-number">Trademark Number</th>
                        <th class="th-international-registration-number">International Registration No.</th>
                        <th class="th-filing-date-value">Filing Date Value</th>
                        <th class="th-publication-date">Publication Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var trademark in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("TrademarkView", new { ID = trademark.ID })" target="_blank">@trademark.Name</a></td>
                                <td>@trademark.TrademarkNumber</td>
                                <td>@trademark.InternationalRegistrationNumber</td>
                                <td>@trademark.FilingDateValue</td>
                                <td>@trademark.PublicationDate</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Trademarks.js"></script>
}
