<link href="~/Content/Views/Home/TrademarkOwners.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Trademark Owners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<TrademarkOwner>

@using (Html.BeginForm("TrademarkOwners", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <h4>Trademark Owners</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-trademark-name">Trademark</th>
                        <th class="th-trademark-number">Trademark Number</th>
                        <th class="th-company-display-name">Company</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var trademarkOwner in Model.Records)
                        {
                    <tr>
                        <td><a href="@Url.RouteUrl("TrademarkOwnerView", new { ID = trademarkOwner.ID })" target="_blank">@trademarkOwner.Trademark.Name</a></td>
                        <td>@trademarkOwner.Trademark.TrademarkNumber</td>
                        <td>@trademarkOwner.Company.DisplayName</td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/TrademarkOwners.js"></script>
}