<link href="~/Content/Views/Home/TrademarkOwner.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Trademark Owner - " + Model.Record.Trademark?.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<TrademarkOwner>

<form class="form-horizontal">
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing trademark owner <strong>@(Model.Record.Trademark?.Name)</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Trademark Owner Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Trademark</strong></td>
                            <td>@(Model.Record.Trademark?.Name)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Company</strong></td>
                            <td>@(Model.Record.Company?.CompanyName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
</form>
