<link href="~/Content/Views/Home/Trademarks.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Trademarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<Trademark>

@using (Html.BeginForm("Trademarks", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")


    <h4>Trademarks</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">
                            <a href="@Url.RouteUrl("Trademarks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "Name", sortOrder = (Model.SortBy == "Name" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Name @if (Model.SortBy == "Name")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-trademark-number">
                            <a href="@Url.RouteUrl("Trademarks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "TrademarkNumber", sortOrder = (Model.SortBy == "TrademarkNumber" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Trademark Number @if (Model.SortBy == "TrademarkNumber")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-international-registration-number">
                            <a href="@Url.RouteUrl("Trademarks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "InternationalRegistrationNumber", sortOrder = (Model.SortBy == "InternationalRegistrationNumber" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                International Registration No. @if (Model.SortBy == "InternationalRegistrationNumber")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-filing-date-value">
                            <a href="@Url.RouteUrl("Trademarks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "FilingDateValue", sortOrder = (Model.SortBy == "FilingDateValue" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Filing Date @if (Model.SortBy == "FilingDateValue")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                        <th class="th-publication-date">
                            <a href="@Url.RouteUrl("Trademarks", new { rowCount = Model.RowCount, page = Model.Page, sortBy = "PublicationDate", sortOrder = (Model.SortBy == "PublicationDate" ? (Model.SortOrder == "asc" ? "desc" : "asc") : "asc"), keyword = ViewBag.Keyword })">
                                Publication Date @if (Model.SortBy == "PublicationDate")
                                {<i class="fa fa-sort-alpha-@Model.SortOrder"></i>}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var trademark in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("TrademarkView", new { ID = trademark.ID })" target="_blank">@trademark.Name</a></td>
                                <td>@trademark.TrademarkNumber</td>
                                <td>@trademark.InternationalRegistrationNumber</td>
                                <td>@trademark.FilingDateValue</td>
                                <td>@trademark.PublicationDate</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/Trademarks.js"></script>
}
