<link href="~/Content/Views/Home/TrademarkOwner.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Trademark Owner - " + Model.Record.Trademark?.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<TrademarkOwner>

@using (Html.BeginForm("FileAttachmentUpload", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing trademark owner <strong>@(Model.Record.Trademark?.Name)</strong>
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Trademark Owner Detail</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Trademark</strong></td>
                            <td>@(Model.Record.Trademark?.Name)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Company</strong></td>
                            <td>@(Model.Record.Company?.DisplayName)</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Trademark Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Trademark Number</strong></td>
                            <td>@Model.Record.Trademark.TrademarkNumber</td>
                            <td><strong>Mismatch Classes Checkbox</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>International Registration Number</strong></td>
                            <td>@Model.Record.Trademark.InternationalRegistrationNumber</td>
                            <td><strong>Status Grouping</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Filing Number</strong></td>
                            <td>@Model.Record.Trademark.FilingNumber</td>
                            <td><strong>Office Status Description</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Registration Number</strong></td>
                            <td>@Model.Record.Trademark.RegistrationNumber</td>
                            <td><strong>User Status Description</strong></td>
                            <td>@Model.Record.Trademark.UserStatusDescription</td>
                        </tr>
                        <tr>
                            <td><strong>TM URL</strong></td>
                            <td>@Model.Record.Trademark.TMURL</td>
                            <td><strong>Figurative</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Figurative ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>Brand</strong></td>
                            <td>@(Model.Record.Trademark.Brand?.Name)</td>
                            <td><strong>Trademark Type</strong></td>
                            <td>@Model.Record.Trademark.TrademarkType</td>
                        </tr>
                        <tr>
                            <td><strong>Owner</strong></td>
                            <td>@Model.Record.Trademark.OwnerName</td>
                            <td><strong>Figurative URL</strong></td>
                            <td>@Model.Record.Trademark.FigurativeURL</td>
                        </tr>
                        <tr>
                            <td><strong>Original Office</strong></td>
                            <td>@(Model.Record.Trademark.OriginalOffice?.OfficeName)</td>
                            <td><strong>Language Filing</strong></td>
                            <td>@Model.Record.Trademark.LanguageFiling</td>
                        </tr>
                        <tr>
                            <td><strong>Receipt Date</strong></td>
                            <td>@Model.Record.Trademark.ReceiptDate</td>
                            <td><strong>Language Second</strong></td>
                            <td>@Model.Record.Trademark.LanguageSecond</td>
                        </tr>
                        <tr>
                            <td><strong>Filing date Value</strong></td>
                            <td>@Model.Record.Trademark.FilingDateValue</td>
                            <td><strong>Geography</strong></td>
                            <td>@Model.Record.Trademark.Geography</td>
                        </tr>
                        <tr>
                            <td><strong>Publication Date</strong></td>
                            <td>@Model.Record.Trademark.PublicationDate</td>
                            <td><strong>Involved in revocation</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.InvolvedInRevocation ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>Registration Date</strong></td>
                            <td>@Model.Record.Trademark.RegistrationDate</td>
                            <td><strong>Bigfoot Group Owned</strong></td>
                            <td>@Model.Record.Trademark.BigfootGroupOwned</td>
                        </tr>
                        <tr>
                            <td><strong>Expiry Date</strong></td>
                            <td>@Model.Record.Trademark.ExpiryDate</td>
                            <td><strong>Company Address</strong></td>
                            <td>@(Model.Record.Company?.ShippingStreet) @(Model.Record.Company?.ShippingCity) @(Model.Record.Company?.ShippingState) @(Model.Record.Company?.ShippingCountry) @(Model.Record.Company?.ShippingPostalCode)</td>
                        </tr>
                        <tr>
                            <td><strong>6 Months Anniversary</strong></td>
                            <td>@Model.Record.Trademark.SixMonthsAnniversary</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Priority Date</strong></td>
                            <td>@Model.Record.Trademark.PriorityDate</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Priority Country & Priority TM Number</strong></td>
                            <td>@Model.Record.Trademark.PriorityCountryAndPriorityTMNumber</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Seniority Used</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.SeniorityUsed ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Seniority Details</strong></td>
                            <td>@Model.Record.Trademark.SeniorityDetails</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.DeletionRequest ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Deletion Request Reason</strong></td>
                            <td>@Model.Record.Trademark.DeletionRequestReason</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Revocation Target</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.RevocationTarget ? "checked" : string.Empty) /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Trademark Information -->
            <!-- START: Similirarity Research -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Similirarity Research</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Open Similarity Research Task</strong></td>
                            <td>@Model.Record.Trademark.OpenSimilarityResearchTask</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Initial Submitter</strong></td>
                            <td>@Model.Record.Trademark.InitialSubmitter</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Last Similarity Research Completed By</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Last Similarity Research Completed On</strong></td>
                            <td>@Model.Record.Trademark.LastSimilarityResearchCompletedOn</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Opposition Research</strong></td>
                            <td>@Model.Record.Trademark.OppositionResearch</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Similar Trademark Spellings</strong></td>
                            <td>@Model.Record.Trademark.SimilarTrademarkSpellings</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Similirarity Research -->
            <!-- START: Trademark Detail Office Specific Fields -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Trademark Detail Office Specific Fields</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>WIPO Designated Protection</strong></td>
                            <td>@Model.Record.Trademark.WIPODesignatedProtection</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>WIPO Basic Application-ISO</strong></td>
                            <td>@Model.Record.Trademark.WIPOBasicApplicationISO</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>ARIPO Designated States</strong></td>
                            <td>@Model.Record.Trademark.ARIPODesignatedState</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Trademark Name English Translation</strong></td>
                            <td>@Model.Record.Trademark.TrademarkNameEnglishTranslation</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>WIPO Basic Application-Filing Date</strong></td>
                            <td>@Model.Record.Trademark.WIPOBasicApplicationFilingDate</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>WIPO Basic Application-Number</strong></td>
                            <td>@Model.Record.Trademark.WIPOBasicApplicationNumber</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Trademark Detail Office Specific Fields -->
            <!-- START: Country Specific-Latvia -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Country Specific-Latvia</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Payment Status Registered LV</strong></td>
                            <td>@Model.Record.Trademark.PaymentStatusRegisteredLV</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Acceptance Due Date</strong></td>
                            <td>@Model.Record.Trademark.AcceptanceDueDate</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Comments LV</strong></td>
                            <td>@Model.Record.Trademark.CommentsLV</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>LV Appeal Deadline</strong></td>
                            <td>@Model.Record.Trademark.LVAppealDeadline</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Reasons For the Refusal LV</strong></td>
                            <td>@Model.Record.Trademark.ReasonForTheRefusalLV</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Country Specific-Latvia -->
            <!-- START: Classes -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Classes</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Class 1</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class1 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 1 Description</strong></td>
                            <td>@Model.Record.Trademark.Class1Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 2</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class2 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 2 Description</strong></td>
                            <td>@Model.Record.Trademark.Class2Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 3</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class3 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 3 Description</strong></td>
                            <td>@Model.Record.Trademark.Class3Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 4</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class4 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 4 Description</strong></td>
                            <td>@Model.Record.Trademark.Class4Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 5</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class5 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 5 Description</strong></td>
                            <td>@Model.Record.Trademark.Class5Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 6</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class6 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 6 Description</strong></td>
                            <td>@Model.Record.Trademark.Class6Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 7</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class7 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 7 Description</strong></td>
                            <td>@Model.Record.Trademark.Class7Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 8</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class8 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 8 Description</strong></td>
                            <td>@Model.Record.Trademark.Class8Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 9</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class9 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 9 Description</strong></td>
                            <td>@Model.Record.Trademark.Class9Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 10</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class10 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 10 Description</strong></td>
                            <td>@Model.Record.Trademark.Class10Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 11</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class11 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 11 Description</strong></td>
                            <td>@Model.Record.Trademark.Class11Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 12</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class12 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 12 Description</strong></td>
                            <td>@Model.Record.Trademark.Class12Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 13</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class13 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 13 Description</strong></td>
                            <td>@Model.Record.Trademark.Class13Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 14</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class14 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 14 Description</strong></td>
                            <td>@Model.Record.Trademark.Class14Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 15</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class15 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 15 Description</strong></td>
                            <td>@Model.Record.Trademark.Class15Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 16</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class16 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 16 Description</strong></td>
                            <td>@Model.Record.Trademark.Class16Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 17</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class17 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 17 Description</strong></td>
                            <td>@Model.Record.Trademark.Class17Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 18</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class18 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 18 Description</strong></td>
                            <td>@Model.Record.Trademark.Class18Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 19</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class19 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 19 Description</strong></td>
                            <td>@Model.Record.Trademark.Class19Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 20</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class20 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 20 Description</strong></td>
                            <td>@Model.Record.Trademark.Class20Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 21</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class21 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 21 Description</strong></td>
                            <td>@Model.Record.Trademark.Class21Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 22</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class22 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 22 Description</strong></td>
                            <td>@Model.Record.Trademark.Class22Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 23</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class23 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 23 Description</strong></td>
                            <td>@Model.Record.Trademark.Class23Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 24</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class24 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 24 Description</strong></td>
                            <td>@Model.Record.Trademark.Class24Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 25</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class25 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 25 Description</strong></td>
                            <td>@Model.Record.Trademark.Class25Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 26</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class26 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 26 Description</strong></td>
                            <td>@Model.Record.Trademark.Class26Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 27</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class27 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 27 Description</strong></td>
                            <td>@Model.Record.Trademark.Class27Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 28</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class28 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 28 Description</strong></td>
                            <td>@Model.Record.Trademark.Class28Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 29</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class29 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 29 Description</strong></td>
                            <td>@Model.Record.Trademark.Class29Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 30</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class30 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 30 Description</strong></td>
                            <td>@Model.Record.Trademark.Class30Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 31</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class31 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 31 Description</strong></td>
                            <td>@Model.Record.Trademark.Class31Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 32</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class32 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 32 Description</strong></td>
                            <td>@Model.Record.Trademark.Class32Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 33</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class33 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 33 Description</strong></td>
                            <td>@Model.Record.Trademark.Class30Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 34</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class34 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 34 Description</strong></td>
                            <td>@Model.Record.Trademark.Class34Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 35</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class35 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 35 Description</strong></td>
                            <td>@Model.Record.Trademark.Class35Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 36</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class36 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 36 Description</strong></td>
                            <td>@Model.Record.Trademark.Class36Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 37</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class37 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 37 Description</strong></td>
                            <td>@Model.Record.Trademark.Class37Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 38</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class38 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 38 Description</strong></td>
                            <td>@Model.Record.Trademark.Class38Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 39</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class39 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 39 Description</strong></td>
                            <td>@Model.Record.Trademark.Class39Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 40</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class40 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 40 Description</strong></td>
                            <td>@Model.Record.Trademark.Class40Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 41</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class41 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 41 Description</strong></td>
                            <td>@Model.Record.Trademark.Class41Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 42</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class42 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 42 Description</strong></td>
                            <td>@Model.Record.Trademark.Class42Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 43</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class43 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 43 Description</strong></td>
                            <td>@Model.Record.Trademark.Class43Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 44</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class44 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 44 Description</strong></td>
                            <td>@Model.Record.Trademark.Class44Description</td>
                        </tr>
                        <tr>
                            <td><strong>Class 45</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.Class45 ? "checked" : string.Empty) /></td>
                            <td><strong>Class 45 Description</strong></td>
                            <td>@Model.Record.Trademark.Class45Description</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END:  Classes -->
            <!-- START: Cancellation Researcher -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Cancellation Researcher</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Researcher Name</strong></td>
                            <td>@Model.Record.Trademark.ResearcherName</td>
                            <td><strong>Mark Use</strong></td>
                            <td>@Model.Record.Trademark.MarkUse</td>
                        </tr>
                        <tr>
                            <td><strong>TM Website</strong></td>
                            <td>@(Model.Record.Trademark.TMWebsite?.Name)</td>
                            <td><strong>Competing Marks</strong></td>
                            <td><input type="checkbox" disabled="disabled" @(Model.Record.Trademark.CompetingMarks ? "checked" : string.Empty) /></td>
                        </tr>
                        <tr>
                            <td><strong>Owner Website</strong></td>
                            <td>@(Model.Record.Trademark.OwnerWebsite?.Name)</td>
                            <td><strong>Competing Mark</strong></td>
                            <td>@Model.Record.Trademark.CompetingMark</td>
                        </tr>
                        <tr>
                            <td><strong>Com Website</strong></td>
                            <td>@(Model.Record.Trademark.ComWebsite?.Name)</td>
                            <td><strong>Cancel Researcher Comments</strong></td>
                            <td>@Model.Record.Trademark.CancelResearcherComments</td>
                        </tr>
                        <tr>
                            <td><strong>Cancellation Strategy</strong></td>
                            <td>@Model.Record.Trademark.CancellationStrategy</td>
                            <td><strong>Owner Defense</strong></td>
                            <td>@Model.Record.Trademark.OwnerDefense</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Cancellation Researcher -->
            <!-- START: Bigfoot Strategy -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Bigfoot Strategy</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Source Name</strong></td>
                            <td></td>
                            <td><strong>Cancel Buy Budget</strong></td>
                            <td>@Model.Record.Trademark.CancelBuyBudget</td>
                        </tr>
                        <tr>
                            <td><strong>BF Strategy</strong></td>
                            <td>@Model.Record.Trademark.BFStrategy</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Strategy Notes</strong></td>
                            <td>@Model.Record.Trademark.StrategyNotes</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Name Value</strong></td>
                            <td>@Model.Record.Trademark.NameValue</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Bigfoot Strategy -->
            <!-- START: Cancellation Score -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Cancellation Score</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Revocation Reference External</strong></td>
                            <td>@Model.Record.Trademark.RevocationReferenceExternal</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Cancellation Score -->
            <!-- START: Invalidity -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Invalidity</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Invalidity Number</strong></td>
                            <td>@Model.Record.Trademark.InvalidityNumber</td>
                            <td><strong>Invalidity Date</strong></td>
                            <td>@Model.Record.Trademark.InvalidityDate</td>
                        </tr>
                        <tr>
                            <td><strong>Invalidity Applicant</strong></td>
                            <td>@(Model.Record.Trademark.InvalidityApplicant?.FirstName)</td>
                            <td><strong>Invalidity Action Outcome</strong></td>
                            <td>@Model.Record.Trademark.InvalidityActionOutcome</td>
                        </tr>
                        <tr>
                            <td><strong>Invalidity Invoked Ground</strong></td>
                            <td>@Model.Record.Trademark.InvalidityInvokedGround</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Invalidity -->
            <!-- START: Legal Section -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Legal Section</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Letter Reference</strong></td>
                            <td>@Model.Record.Trademark.LetterReference</td>
                            <td><strong>Letter Sent On</strong></td>
                            <td>@Model.Record.Trademark.LetterSentOn</td>
                        </tr>
                        <tr>
                            <td><strong>Letter Origin</strong></td>
                            <td>@Model.Record.Trademark.LetterOrigin</td>
                            <td><strong>Owner Response Deadline</strong></td>
                            <td>@Model.Record.Trademark.OwnerResponseDeadline</td>
                        </tr>
                        <tr>
                            <td><strong>Letter Sending Method</strong></td>
                            <td>@Model.Record.Trademark.LetterSendingMethod</td>
                            <td><strong>Letter Outcome</strong></td>
                            <td>@Model.Record.Trademark.LetterOutcome</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Legal Section -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewFileAttachment")
            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>
}
