<link href="~/Content/Views/Home/UserAccounts.css" rel="stylesheet" />

@using BigFootVentures.Business.Objects.Management
@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "User Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMPageResult<UserAccount>

@using (Html.BeginForm("UserAccounts", "Home", FormMethod.Get))
{
    @Html.Partial("../Shared/_Components/Page/_PageTableViewAlert")

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewHeader")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="th-bg">
                        <th class="th-name">Name</th>
                        <th class="th-email-address">Email Address</th>
                        <th class="th-roles">Roles</th>
                        <th class="th-is-active">Active</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var userAccount in Model.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("UserAccountView", new { ID = userAccount.ID })" target="_blank">@userAccount.FirstName @userAccount.LastName</a></td>
                                <td>@userAccount.EmailAddress</td>
                                <td>@userAccount.Roles</td>
                                <td><input type="checkbox" @(userAccount.IsActive ? "checked" : string.Empty) disabled /></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageTableViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/UserAccounts.js"></script>
}
