<link href="~/Content/Views/Home/UserAccount.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = $"User Account - {Model.Record.FirstName} {Model.Record.LastName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMModel<UserAccount>

<form class="form-horizontal">

    @Html.Partial("../Shared/_Components/Page/_PageEditViewAlert")

    @{
        if (TempData.ContainsKey("UserAccountInserted"))
        {
            TempData.Remove("UserAccountInserted");

            <div class="alert alert-info">
                <p>An e-mail has been sent to <strong>@Model.Record.Username</strong> for account verification.</p>
            </div>
        }

        if (!Model.Record.IsActive && Model.Record.ID > 0)
        {
            <div class="alert alert-warning">
                <p>This account is currently inactive.</p>
            </div>
        }
    }

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                You are viewing User Account <strong>@Model.Record.DisplayName</strong>
            </span>
            <span class="panel-title pull-right">
                <span>Reference ID: <strong>@Model.Record.ID</strong></span>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">General Information</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>First Name</strong></td>
                            <td>@Model.Record.FirstName</td>
                            <td><strong>Title</strong></td>
                            <td>@Model.Record.Title</td>
                        </tr>
                        <tr>
                            <td><strong>Last Name</strong></td>
                            <td>@Model.Record.LastName</td>
                            <td><strong>Company</strong></td>
                            <td>@Model.Record.Company</td>
                        </tr>
                        <tr>
                            <td><strong>Email Address</strong></td>
                            <td>@Model.Record.EmailAddress</td>
                            <td><strong>Department</strong></td>
                            <td>@Model.Record.Department</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Division</strong></td>
                            <td>@Model.Record.Division</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Employee Number</strong></td>
                            <td>@Model.Record.EmployeeNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END: Information -->
            <!--START: Mailing Address-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Mailing Address</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Country</strong></td>
                            <td>@Model.Record.MailingCountry</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Street</strong></td>
                            <td>@Model.Record.MailingStreet</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>City</strong></td>
                            <td>@Model.Record.MailingCity</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>State/Province</strong></td>
                            <td>@Model.Record.MailingState</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Zip Code</strong></td>
                            <td>@Model.Record.MailingZipCode</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END:  Mailing Address -->
            <!--START: Roles -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Roles</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-view">
                        <tr>
                            <td><strong>Roles</strong></td>
                            <td>@Model.Record.Roles</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END:  Roles -->

            @Html.Partial("../Shared/_Components/Page/_PageDetailViewAuditTrail")
        </div>
        <div class="panel-footer">
            @Html.Partial("../Shared/_Components/Page/_PageEditViewFooter")
        </div>
    </div>

    <script src="~/Scripts/Views/Home/UserAccount.js"></script>
</form>

