<link href="~/Content/Views/Search/Index.css" rel="stylesheet" />
<link href="~/Content/Views/Search/Agreement.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Search Result (Agreement) - " + ViewBag.Keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMSearchResultObject<AgreementT>

@using (Html.BeginForm("Agreement", "Search", FormMethod.Get))
{
    <h4>
        Search result for keyword "<strong>@ViewBag.Keyword</strong>" on <strong>@Model.Caption</strong> (@Model.ObjectResult.Total found)
    </h4>

    <hr />

    <div class="col-md-2">
        @Html.Partial("../Shared/_Components/Search/_PageObjectsFilter")
    </div>
    <div class="col-md-10">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="th-bg">
                        <th></th>
                        <th class="th-name">Name</th>
                        <th class="th-bf-company">BF Company</th>
                        <th class="th-counterpart">Name of the counterpart</th>
                        <th class="th-applicability">Applicability</th>
                        <th class="th-object-of-agreement">Object of Agreement</th>
                        <th class="th-type">Type</th>
                        <th class="th-date-of-signature">Date of Signature</th>
                        <th class="th-created-by">Created by</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var agreement in Model.ObjectResult.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("AgreementTView", new { ID = agreement.ID })" target="_blank">View</a></td>
                                <td>@agreement.Name</td>
                                <td>@agreement.BFCompany.CompanyName</td>
                                <td>@agreement.Counterpart.CompanyName</td>
                                <td>@agreement.Applicability</td>
                                <td>@agreement.ObjectOfAgreement</td>
                                <td>@agreement.Type</td>
                                <td>@agreement.DateOfSignature</td>
                                <td>@agreement.OwnerName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @Html.Partial("../Shared/_Components/Search/_PageFooter")
    </div>
}
