<link href="~/Content/Views/Search/Index.css" rel="stylesheet" />
<link href="~/Content/Views/Search/Company.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Search Result (Company) - " + ViewBag.Keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMSearchResultObject<Company>

@using (Html.BeginForm("Company", "Search", FormMethod.Get))
{
    <h4>
        Search result for keyword "<strong>@ViewBag.Keyword</strong>" on <strong>@Model.Caption</strong> (@Model.ObjectResult.Total found)
    </h4>

    <hr />

    <div class="col-md-2">
        @Html.Partial("../Shared/_Components/Search/_PageObjectsFilter")
    </div>
    <div class="col-md-10">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="th-bg">
                        <th>Action</th>
                        <th class="th-name">Name</th>
                        <th class="th-record-type">Record Type</th>
                        <th class="th-type">Type</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var company in Model.ObjectResult.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("CompanyView", new { ID = company.ID })" target="_blank">View</a></td>
                                <td>@company.DisplayName</td>
                                <td>@company.AccountRecordType</td>
                                <td>@company.Type</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @Html.Partial("../Shared/_Components/Search/_PageFooter")
    </div>
}
