<link href="~/Content/Views/Search/Index.css" rel="stylesheet" />
<link href="~/Content/Views/Search/Contact.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels
@using BigFootVentures.Business.Objects.Management

@{
    ViewBag.Title = "Search Result (Contact) - " + ViewBag.Keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMSearchResultObject<Contact>

@using (Html.BeginForm("Contact", "Search", FormMethod.Get))
{
    <h4>
        Search result for keyword "<strong>@ViewBag.Keyword</strong>" on <strong>@Model.Caption</strong> (@Model.ObjectResult.Total found)
    </h4>

    <hr />

    <div class="col-md-2">
        @Html.Partial("../Shared/_Components/Search/_PageObjectsFilter")
    </div>
    <div class="col-md-10">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="th-bg">
                        <th>Action</th>
                        <th class="th-name">Name</th>
                        <th class="th-company-name">Company</th>
                        <th class="th-title">Title</th>
                        <th class="th-phone">Phone</th>
                        <th class="th-email">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var contact in Model.ObjectResult.Records)
                        {
                            <tr>
                                <td><a href="@Url.RouteUrl("ContactView", new { ID = contact.ID })" target="_blank">View</a></td>
                                <td>@($"{contact.FirstName} {contact.LastName}")</td>
                                <td>@contact.Company.CompanyName</td>
                                <td>@contact.Title</td>
                                <td>@contact.Phone</td>
                                <td>@contact.Email</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @Html.Partial("../Shared/_Components/Search/_PageFooter")
    </div>
}
