<link href="~/Content/Views/Search/Index.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Search Result - " + ViewBag.Keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMSearchResult

<h4>
    Search result for keyword "<strong>@ViewBag.Keyword</strong>"
</h4>

<hr />

<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><strong>Records</strong></li>
        @{
            foreach (var table in Model.Table)
            {
                <li class="list-group-item">
                    @{
                        if (table.Rows.Count > 0)
                        {
                            var caption = string.Format("{0} ({1})", table.Caption, table.Rows.Count < 25 ? table.Rows.Count.ToString() : "25+");
                            var action = table.Caption;

                            if (table.Caption == "Legal Case")
                            {
                                action = "LegalCase";
                            }

                            <a href="@Url.Action(action, "Search", new { rowCount = 25, page = 1, keyword = ViewBag.Keyword })">@caption</a>
                        }
                        else
                        {
                            @Html.Raw(table.Caption)
                        }
                    }
                </li>
            }
        }
    </ul>
</div>
<div class="col-md-10">
    <div class="table-responsive">
        @{
            foreach (var table in Model.Table)
            {
                if (!table.Rows.Any())
                {
                    continue;
                }

                <table class="table table-striped table-hover table-bordered">
                    <caption>
                        <div class="alert alert-warning">
                            <span>@string.Format("{0} ({1})", table.Caption, table.Rows.Count < 25 ? table.Rows.Count.ToString() : "25+")</span>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th style="width: 5%;"></th>
                            @{
                                foreach (var header in table.Header)
                                {
                                    <th style="width: 47.5%">@header</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var row in table.Rows)
                            {
                                <tr>
                                    @{
                                        string link = $"{Url.Action(table.Caption, "Home")}/{row[0]}";

                                        for (var i = 1; i < row.Count; i++)
                                        {
                                            if (i == 1)
                                            {
                                                <td><a href="@link">View</a></td>
                                                <td>@Html.Raw(row[i])</td>
                                            }
                                            else
                                            {
                                                <td>@Html.Raw(row[i])</td>
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        @{
                            if (table.Rows.Count == 25)
                            {
                                <tr>
                                    <td colspan="3">
                                        <strong>
                                            @Html.ActionLink(
                                                "Show more...",
                                                table.Caption,
                                                new { rowCount = 25, page = 1, keyword = ViewBag.Keyword })
                                        </strong>
                                    </td>
                                </tr>
                            }
                        }
                    </tfoot>
                </table>
            }
        }
    </div>
</div>