<link href="~/Content/Views/Search/Index.css" rel="stylesheet" />

@using BigFootVentures.Application.Web.Models.ViewModels

@{
    ViewBag.Title = "Search Result - " + ViewBag.Keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMSearchResult

<div class="panel panel-default panel-parent">
    <div class="panel-heading">
        <span class="panel-title">
            Search result for keyword "<strong>@ViewBag.Keyword</strong>"
        </span>
        <span class="panel-title pull-right">
            <i class="fa fa-search"></i>
        </span>
    </div>
    <div class="panel-body">
        <!-- START: Search Result -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    @{
                        foreach (var table in Model.Table)
                        {
                            if (!table.Rows.Any())
                            {
                                continue;
                            }

                            <table class="table table-striped table-hover table-bordered">
                                <caption>@table.Caption</caption>
                                <tr>
                                    @{
                                        foreach (var header in table.Header)
                                        {
                                            <th>@header</th>
                                        }
                                    }
                                </tr>
                                @{
                                    foreach (var row in table.Rows)
                                    {
                                        <tr>
                                            @{
                                                string link = $"{Url.Action(table.Caption, "Home")}/{row[0]}";

                                                for (var i = 1; i < row.Count; i++)
                                                {
                                                    if (i == 1)
                                                    {
                                                        <td><a href="@link">@Html.Raw(row[i])</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@Html.Raw(row[i])</td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    }

                                    if (table.Rows.Count == 25)
                                    {
                                        <tr>
                                            @{ 
                                                string caption = Url.Action(table.Caption, "Home") + "s";

                                                if (table.Caption == "Company")
                                                {
                                                    caption = caption.Replace("Companys", "Companies");
                                                }

                                                string link = $"{caption}/25/1/{ViewBag.Keyword}/";
                                            }
                                            <td colspan="2">
                                                <strong><a href="@link">Show more..</a></strong>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- END: Search Result -->
    </div>    
</div>