<!-- START: File Attachment -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">File Attachment</h4>
    </div>
    <div class="panel-body">
        @{
            if (Model.FileAttachments.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 70%;">File Name</th>
                                <th style="width: 25%;">Date Created</th>
                                <th style="width: 2.5%;"></th>
                                <th style="width: 2.5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var fileAttachment in Model.FileAttachments)
                                {
                                    <tr>
                                        <td>@fileAttachment.FileName</td>
                                        <td>@fileAttachment.CreateDate</td>
                                        <td>
                                            <a href="@Url.Action("FileAttachmentDownload", new { ID = fileAttachment.ID, objectName = Model.Name })" title="Download @fileAttachment.FileName">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" class="delete-file-attachment" data-id="@fileAttachment.ID" data-filename="@fileAttachment.FileName" title="Delete @fileAttachment.FileName">
                                                <i class="fa fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12 center-align">
                        <p class="subtitle">No attachments found</p>
                    </div>
                </div>
            }
        }

        <hr />

        <div class="form-group">
            <input type="hidden" name="ID" value="@Model.Record.ID" />
            <input type="hidden" name="objectName" value="@Model.Name" />
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="file" name="file" class="form-control pull-right" required="required" />
                    <span class="input-group-btn">
                        <input type="submit" value="Upload" class="btn btn-info" />
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.delete-file-attachment').on('click', function () {
            if (confirm('Are you sure you want to delete the file ' + $(this).data('filename') + '?')) {
                location.href = '@Url.Action("FileAttachmentDelete", "Home")?ID=' + $(this).data('id') + '&objectName=@Model.Name';
            }
        });
    });
</script>
<!-- END: File Attachment -->
