<div class="row">
    <div class="col-sm-12">
        <input type="hidden" name="keyword" value="@ViewBag.Keyword" />

        <nav aria-label="...">
            <ul class="pager">
                @{
                    var routeName = Model.Name + "s";

                    if (Model.Name == "Enquiry")
                    {
                        routeName = "Enquiries";
                    }
                    else if (Model.Name == "AgreementT")
                    {
                        routeName = "Agreements";
                    }
                    else if (Model.Name == "Company")
                    {
                        routeName = "Companies";
                    }

                    if (Model.Page != 1)
                    {
                        <li><a id="pagePrevious" href="@Url.RouteUrl(routeName, new { rowCount = Model.RowCount, page = (Model.Page - 1), sortBy = Model.SortBy, sortOrder = Model.SortOrder, keyword = ViewBag.Keyword })">Previous</a></li>
                    }
                    if (Model.Pages > Model.Page)
                    {
                        <li><a id="pageNext" href="@Url.RouteUrl(routeName, new { rowCount = Model.RowCount, page = (Model.Page + 1), sortBy = Model.SortBy, sortOrder = Model.SortOrder, keyword = ViewBag.Keyword })">Next</a></li>
                    }
                }
            </ul>
        </nav>
        @*<span>
            Page <input class="pagination-input" type="text" name="page" value="@Model.Page" /> of @Model.Pages.ToString("N0")
        </span>*@
        @*<span class="pull-right">
            Showing <input class="pagination-input" type="text" name="rowCount" value="@Model.RowCount" /> rows per page
            <button type="submit"><i class="fa fa-refresh"></i></button>
        </span>*@
    </div>
</div>